

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 97%);
}

.calculator {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: hsl(0, 32%, 91%);
    border: 1px solid hsl(0, 9%, 91%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #040303;
    font-size: 24px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


